<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Legal-Solution</title>

		<!-- Link-TailwindCss-Cdn & DaisyUI Start -->
		<!-- Link-TailwindCss-Cdn & DaisyUI End -->

		<!-- Link-Google-Font Start -->
		<!-- Link-Google-Font End -->

		<!-- Page-Customize-Menu-Start -->
		<!-- Page-Customize-Menu-End -->

		<!-- Page-Style-Start -->
		<!-- Page-Style-End -->

		<!-- CSS-Style-Link-Start -->
		<link rel="stylesheet" href="styles/style.css" />
		<!-- CSS-Style-Link-End -->
	</head>
	<body>
		<!-- -----------------------HEADER-SECTION------------------------------ -->
		<!-- ------------------------------------------------------------------- -->
		<!-- Header-Section-Start -->

		<!-- Nav-Bar-Start -->
		<!-- Nav-Bar-End -->

		<!-- Section-1-Start -->
		<!-- Section-1-End -->

		<!-- Header-Section-End -->

		<!-- -----------------------MAIN-SECTION-----------=-------------------- -->
		<!-- ------------------------------------------------------------------- -->
		<!-- Main-Section-Start -->
		<!-- Main-Section-End -->

		<!-- ----------------------FOOTER-SECTION------------------------------- -->
		<!-- ------------------------------------------------------------------- -->
		<!-- Footer-Section-Start -->
		<!-- Footer-Section-End -->
		<!-- ------------------------------------------------------------------- -->
		<!-- ------------------------------------------------------------------- -->
	</body>
</html>
